.board {
  &__container {
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 5px;
    justify-content: start;
    align-items: start;

    &__cell {
      // display: inline-block;
      // transform-origin: center;
      // transform: rotate(90deg);
      // text-align: center;
    }
  }
}
