.playerRow {
  &__container {
    width: 100%;
    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
  }
  &__waitingLoader {
    height: 20px;
    width: 20px;
    margin-right: 16px;
  }
  &__kickOut {
    height: 20px;
    width: 20px;
    margin-right: 12px;
    &:hover {
      cursor: pointer;
    }
    &__self {
      opacity: 0.1;
      pointer-events: none;
    }
  }
  &__name {
    &__offline {
      opacity: 0.2;
    }
  }
}
